<?xml version="1.0"?>

<model>
  <name>Urban Straight Door Right Flipped</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ian Chen</name>
    <email>chen@openrobotics.org</email>
  </author>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    A straight urban tunnel with door opening on the right and flipped tunnel geometry
  </description>
</model>
