<?xml version="1.0"?>

<model>
  <name>Urban 2 Story Large Side 2</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    Large 2 story room comprised of two conjoined tiles.
  </description>
</model>
