<?xml version="1.0"?>

<model>
  <name>Urban Elevation Down</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <author>
    <name>Ian Chen</name>
    <email>ichen@openrobotics.org</email>
  </author>

  <description>
    A straight section of urban tunnel with decreasing elevation.
  </description>
</model>
